<div class="container">
<h3>Cadastro</h3>
<form *ngIf="active" #f="ngForm" novalidate (ngSubmit)="onSubmit()">
  <div class="form-group row {{name.pristine?'':(name.valid?'has-success':'has-danger')}}">
    <label class="col-sm-2 col-form-label" for="name">Nome</label>
    <div class="col-sm-10">
      <input type="text" class="form-control {{name.valid || name.pristine?'form-control-success':'form-control-danger'}}" name="name" id="name" placeholder="Nome" required #name="ngModel" [(ngModel)]="model.name">
      <div [hidden]="name.valid || name.pristine" class="form-control-feedback">
        Nome não pode ser vazio
      </div>
    </div>
  </div>
  <div class="form-group row {{email.pristine?'':(email.valid?'has-success':'has-danger')}}">
    <label class="col-sm-2 col-form-label" for="email">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control {{email.valid || email.pristine?'form-control-success':'form-control-danger'}}" name="email" id="email" placeholder="Email" validateEmail required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" #email="ngModel" [(ngModel)]="model.email">
      <div [hidden]="email.valid || email.pristine" class="form-control-feedback">
        Email cadastrado, vazio ou diferente do formato usuario@dominio.com
      </div>
    </div>
  </div>
  <div class="form-group row {{password.pristine?'':(password.valid?'has-success':'has-danger')}}">
    <label class="col-sm-2 col-form-label" for="password">Senha</label>
    <div class="col-sm-10">
      <input type="password" class="form-control {{password.valid || password.pristine?'form-control-success':'form-control-danger'}}" name="password" id="password" placeholder="Senha" required minlength="8" maxlength="32" #password="ngModel" [(ngModel)]="model.password" validateEqual="password2" reverse="true">
      <div [hidden]="password.valid || password.pristine" class="form-control-feedback">
        Senha de 8 a 32 caracteres
      </div>
    </div>

  </div>
  <div class="form-group row {{password2.pristine?'':(password2.valid?'has-success':'has-danger')}}">
    <label class="col-sm-2 col-form-label" for="password2">Repetir Senha</label>
    <div class="col-sm-10">
      <input type="password" class="form-control {{password2.valid || password2.pristine?'form-control-success':'form-control-danger'}}" name="password2" id="password2" validateEqual="password" placeholder="Repetir Senha" minlength="8" maxlength="32" required #password2="ngModel" [(ngModel)]="model.password2">
      <div [hidden]="password2.valid || password2.pristine" class="form-control-feedback">
        Senhas não são iguais
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-sm-2 col-sm-10">
      <button class="btn btn-primary" [disabled]="!f.valid" type="submit">Cadastrar</button>
    </div>
  </div>
</form>
</div>