$primary: #673ab7;
/deep/ md-tab-group {
  flex:1;
  .md-tab-header{
    justify-content: center;
    background: $primary;
    color: white;
    .md-tab-label{
      display: flex;
      align-items: center;
      justify-content: center;
      &.md-tab-active{
        background: rgba(178, 223, 219, 0.3);
        opacity: 1;
      }
    }
    md-ink-bar{
      background: white;
    }
  }
}

.calls-controls{
  display:flex;
  margin-bottom: 5px;
  .view-finished{
    display: flex;
    align-items:center;
    flex-direction: row;
    md-slide-toggle{
      margin: 0;
    }
  }
}

label{
  font-size: 12px;
  color:rgba(0, 0, 0, 0.38);
}
.profile-calls-header{
  display:flex;
  justify-content: center;
  align-items:center;
}
.profile-calls-stars{
  text-align:right;
}
.profile-calls-info, .profile-calls-stars{
  display: flex;
  flex-direction: column;
}
md-card{
  padding:0px;
  margin:0px;
}

md-list{
  cursor:pointer;
  padding:0px;
  md-list-item {
    &.call-finished /deep/ .md-list-item{
      //border-left: 3px solid $primary;
      // color: white;
      h4{
        color:$primary;
      }
    }
    /deep/ .md-list-item{
      padding: 5px;
      height:auto;
      &:hover{
        background:#f1f1f1;
      }
      .md-list-item-text{
        width: 100%;
        .call-header{
          display: flex;
          .call-waiting{
            color: darkorange;
          }
          .call-date{
            text-align: right;
          }
          .material-icons.call-finished{
            color: $primary;
          }
        }
        .call-info{
          display: flex;
          width: 100%;
          .call-person{
            display: flex;
            align-items: center;
          }
          .call-actions{
            height:40px;
          }
        }
      }
    }
  }

}

.service-waiting{
  color: darkorange;
}
.call-waiting p, .call-waiting{
  color: darkorange;
}
:host{
  flex:1;
  display:flex;
}
