label{
  font-size: 12px;
  color:rgba(0, 0, 0, 0.38);
}
.profile-calls-header{
  display:flex;
  justify-content: center;
  align-items:center;
}
.profile-calls-stars{
  text-align:right;
}
.profile-calls-info, .profile-calls-stars{
  display: flex;
  flex-direction: column;
}
md-card{
  padding:0px;
  margin:0px;
}
.view-finished{
  display: flex;
  align-items:center;
}
md-list{
  cursor:pointer;
  padding:0px;
  md-list-item /deep/ .md-list-item{
    padding: 5px;
    height:auto;
    &:hover{
      background:#f1f1f1;
    }
    .md-list-item-text{
      width: 100%;
      .call-header{
        display: flex;
        .call-date{
          text-align: right;
        }
      }
      .call-info{
        display: flex;
        width: 100%;
        .call-person{
          display: flex;
          align-items: center;
        }
        .call-actions{
          height:40px;
        }

      }
      

    }
  }

}
