$primary: #673ab7;
/deep/ md-tab-group {
  .md-tab-header{
    justify-content: center;
    background: $primary;
    color: white;
    .md-tab-label{
      display: flex;
      align-items: center;
      justify-content: center;
      &.md-tab-active{
        background: rgba(178, 223, 219, 0.3);
        opacity: 1;
      }
    }
    md-ink-bar{
      background: white;
    }
  }
}

label{
  font-size: 12px;
  color:rgba(0, 0, 0, 0.38);
}

md-card{
  padding:0px;
  margin:0px;
}

md-list{
  cursor:pointer;
  padding:0px;
  md-list-item {
    /deep/ .md-list-item{
      padding: 5px;
      height:auto;
      min-height:51px;
      align-items:normal;
      .md-list-item-text{
        width: 100%;
        .helper-header{
          display: flex;
          align-items: center;
        }
      }
    }
  }

}

.call-info{
  margin-bottom: 5px;
}

.profile-skills{
  list-style:none;
  margin-top: 0px;
  margin-bottom:0px;
  padding:0px;
  li{
    display:inline-block;
    background: #dddddd;
    border-radius: 13px;
    padding: 5px;
    margin: 1px;
    font-size: 13px;
    color:#555;
  }
}
:host{
  flex:1;
}

img{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.8);
  border: 1px solid #FFF;
  margin-right: 5px;
  // margin-bottom: 5px;
}