


<div class="app-content">
  <div class="call-info">
    <p>Problema</p>
    <h4>{{call.title}}</h4>  
  </div>
  
  <p>Possíveis ajudantes</p>
	<!-- Lista de ajudantes -->
	<md-card class="app-input-section">
    <md-list class="md-dense" flex>
      <template ngFor let-profile [ngForOf]="profiles|async| paginate: { itemsPerPage: 2, currentPage: currentPage }" let-i="index">
      <div *ngIf="myId!=profile.$key">
	      	<md-list-item (click)="viewProfile(profile.$key)" class="md-3-line">
	          <div class="md-list-item-text" layout="column">
	            <div class="helper-header">
	              <h4>{{(users[profile.$key]|async)?.name}}</h4>
	            </div>
	            <p>{{profile.description}}</p>
	          </div>
	        </md-list-item>
	        <md-divider></md-divider>
        </div>
      </template>
    </md-list>
  </md-card>

  <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

</div>