@mixin flex-center{
  display:flex;
  align-items:center;
}
.profile-header{
  @include flex-center;
  .profile-photo{
    width:64px;
    height:64px;
    @include flex-center;
    justify-content: center;
  }
  .profile-description{
    font-size:12px;
    color: #888888;
  }
}

.small{
  font-size:12px;
  color: #888888;
}
.profile-label{
  font-size:12px;
  color: #888888; 
}
.profile-skills{
  list-style:none;
  margin: 6px 0px;
  padding:0px;
  li{
    display:inline;
    background: #dddddd;
    border-radius: 5px;
    padding: 3px;
    margin: 1px;
  }
}

.profile-calls-header{
  display:flex;
  justify-content: center;
  align-items:center;
}
.profile-calls-stars{
  text-align:right;
}
.profile-calls-info, .profile-calls-stars{
  display: flex;
  flex-direction: column;
}
md-card{
  padding:0px;
  margin:0px;
}
md-list{
  cursor:pointer;
  padding:0px;
  md-list-item /deep/ .md-list-item{
    padding: 5px;
    height:auto;
    &:hover{
      background:#f1f1f1;
    }
    .md-list-item-text{
      width: 100%;
      .calls-info{
        display: flex;
        width: 100%;
        .calls-person{
          
        }
        .calls-actions{
        }

      }
      

    }
  }

}
