<div class="app-content">
  <div *ngIf="!editing">
    <!-- Cabeçalho -->
    <div class="profile-header">
      <!-- Foto -->
      <div class="profile-photo">
        <img src="{{(currentProfile | async)?.photo}}">
      </div>
      <!-- Nome e descrição -->
      <div class="profile-info">
        <!-- Nome -->
        <div class="profile-name">{{ (currentUser | async)?.name}}</div>

        <!-- Descrição -->
        <div class="profile-description">{{ (currentProfile | async)?.description}}</div>

      </div>
    </div>

    <!-- Habilidades -->
    <label class="profile-label">Habilidades</label>
    <div>
      <ul class="profile-skills">
        <li *ngFor="let skill of (currentProfile | async)?.skills">{{skill}}</li>
      </ul>
    </div>
    <button md-raised-button color="primary" (click)="showForm()">Editar</button>
  </div>

  <app-profile-form *ngIf="editing" [currentUser]="currentUser" [currentProfile]="currentProfile" (cancel)="hideForm()" (saved)="hideForm()"></app-profile-form>
</div>
