/* You can add global styles to this file, and also import other style files */
.spacer{
  flex:1;
}
html, body, app-root{
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body, app-root{
  display:flex;
  flex-direction:column;
}
app-header{
  order:1;
  flex-shrink:0;
  flex-basis: 50px;
}
main{
  order: 2;
  flex-grow: 1;
  overflow-y: scroll;
}
app-footer{
  order:3;
  flex-shrink:0;
  flex-basis:50px;
}
.full-width{
  width:100%;
}
